!/.idea/*
!/back-end/src/main/resources/application.yml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/TicTechTalk.iml
!/.idea/vcs.xml
!/.idea/workspace.xml
/.idea/*
/back-end/src/main/resources/application.yml
/.idea/misc.xml
/.idea/modules.xml
/.idea/TicTechTalk.iml
/.idea/vcs.xml
/.idea/workspace.xml
.idea/*
.idea/
.idea/misc.xml
.idea/modules.xml
.idea/TicTechTalk.iml
.idea/vcs.xml
back-end/.DS_Store
back-end/bin/.DS_Store
back-end/bin/main/.DS_Store
back-end/bin/main/application.yml
back-end/out/.DS_Store
back-end/HELP.md
back-end/gradlew.bat
back-end/gradlew
back-end/out/production/.DS_Store
back-end/src/main/resources/.DS_Store
back-end/src/main/resources/application.yml
back-end/src/main/.DS_Store
back-end/src/.DS_Store
back-end/settings.gradle
back-end/out/production/resources/application.yml
back-end/build/tmp/.DS_Store
back-end/build/.DS_Store
back-end/build/resources/main/application.properties
.idea/workspace.xml
/front-end/node_modules/
front-end/.DS_Store
